<%- include('../front/header.ejs') %>
    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                       <%- include('../admin/adminsidebar.ejs') %>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <h1>Dashboard Welcome </h1>
                            <h3><%= n %></h3>
                            <h3>Email : <%= e %></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../front/footer.ejs') %>