<%- include('../front/header.ejs') %>
    <section class="blog-detail mtb-40">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-left">
                        <h1>
                            <%= d.title %>
                        </h1>
                        <div class="posted-on">
                            <p>by <span>PNINFOSYS</span> on <span>
                                    <%= d.createdAt.toLocaleDateString() %>
                                </span></p>
                        </div>
                        <div class="detail-img">
                            <img src="<%= d.image.url %>" width="640" height="426" alt="blog1" />
                        </div>
                        <div class="blog-desc">
                            <p>
                                <%= d.description %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-right">
                        <div class="right-widget recent-post">
                            <h3>Recent Blogs</h3>
                            <% r.forEach((rec)=>{ %>
                                <a href="#">
                                    <div class="rb-box">
                                        <div class="rb-box-img">
                                            <img src="<%= rec.image.url %>" height="60" width="110" alt="blog1" />
                                        </div>
                                        <div class="rb-box-desc">
                                            <h4><%= rec.title %></h4>
                                            <p>Posted on : <%= rec.createdAt.toLocaleDateString() %></p>
                                        </div>
                                    </div>
                                </a>
                            <% }) %>
                            
                        </div>
                        <div class="right-widget categories">
                            <h3>Categories</h3>
                            <ul>
                                <% c.forEach((cat)=>{ %>
                                    <li><a href="#"><%= cat.title %></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../front/footer.ejs') %>