<%- include('../../front/header.ejs') %>
    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <%- include('../adminsidebar.ejs') %>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Edit Blog</h1>
                                </div>
                            </div>
                            <div class="blog-form">
                                <form action="/admin/blog_update/<%= editdata._id %>" method="post"  encType="multipart/form-data">
                                    <!-- <input type="hidden" name="id" value="<%= editdata._id %>"> -->
                                    <div class="form-group form-row">
                                        <label class="col-md-3">Title <span class="required">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="title" placeholder="Title" required value="<%= editdata.title %>">
                                        </div>
                                    </div>
                                    <div class="form-group form-row">
                                        <label class="col-md-3">Description <span class="required">*</span></label>
                                        <div class="col-md-9">
                                            <textarea name="description" rows="5" class="form-control"
                                                placeholder="Description" required><%= editdata.description %></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group form-row">
                                        <label class="col-md-3">Image <span class="required">*</span></label>
                                        <div class="col-md-9">
                                            <img src="<%= editdata.image.url %>" alt="" width="140" ><br><br>
                                            <input type="file" name="blogimage">
                                        </div>
                                    </div>
                                    <div class="form-group form-row">
                                        <label class="col-md-3"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../../front/footer.ejs') %>